<h3 style="margin-left: 15px;">Your Credencials</h3>
<ul class="collection">
  <li class="collection-item avatar">
    <img src="{{avatar_url}}" alt="" class="circle">
    <p>
      Name: {{name}}<br>
      Id: {{id}}<br>
      Email: {{email}}<br>
      Url: {{url}}<br>
      Created at: {{created_at}}
    </p>
  </li>
</ul>
<a style="width: 300px; text-align: center; margin-top: 30px; margin-left: 20px" href="/user" class="waves-effect waves-light btn-large red lighten-2">Return to user page</a>